<center><h1>Tic Tac Toe</h1> <p>
	   
<form action ='board' method='post'>
	<input type='text' name='opponent' value= session[:opponent] hidden>

	<h2><input type="submit" name='square' value= <%=pos0%>> | <input type="submit" name='square' value= <%=pos1%>> | <input type="submit" name='square' value= <%=pos2%>><br>
	-------------- <br>
	<input type="submit" name='square' value= <%=pos3%>> | <input type="submit" name='square' value= <%=pos4%>> | <input type="submit" name='square' value= <%=pos5%>> <br>
	-------------- <br>
	<input type="submit" name='square' value= <%=pos6%>> | <input type="submit" name='square' value= <%=pos7%>> | <input type="submit" name='square' value= <%=pos8%>></h2><br> 
	
</form>
</center>
